
.about{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}
.about__content{

   display: flex;
   flex-direction: column;
   gap: 1rem;

}   

.about__title{
    font-size:var(--size-2xl) ;
    color: var(--clr-light);
}

.about__description{
    max-width: 60ch;
    font-size: var(--size-sm);
    color: var(--clr-slate600);

}

.about__hr{
    border-color: var(--clr-slate);
}

.about__subtitle{
    font-size: var(--size-sm);
    color: var(--clr-slate400);
}

.about__ul-container{
    display: flex;
}
.about__ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
    list-style-type: '\2705';
    padding-left:1em;
    flex: 1;
    color: var(--clr-slate600);
    /* margin-left: 0.5em; */
}
.about__list{
    font-size: var(--size-sm);
    /* color: red; */
    /* margin-left: 0.5em; */
}

.about__list::before{
    content: ' ';
    margin-right: 0.5em;
    /* border-radius: 1px solid red; */
}

.about__img{
    opacity: 0.6;
}

 /* xs1 */

@media (min-width:412px){
    
.about{
    
    gap: 1.5rem;
}
.about__content{

   gap: 1.5rem;

}   

.about__title{
    font-size:var(--size-3xl) ;
   
}

.about__description{
    max-width: 60ch;
    font-size: var(--size-base);
   

}


.about__subtitle{
    font-size: var(--size-base);
    
  
}


.about__list{
    font-size: var(--size-base);
  
    /* margin-left: 0.5em; */
}

.about__img-wrapper{
    margin: 0 auto;
    /* border: 2px solid red; */
}
.about__img{
    width: 23.6875rem;
    /* height: 29rem; */
    /* margin: 0 auto; */
}
.about__ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
    list-style-type: '\2705';
    padding-left:1.18em;
    flex: 1;
    /* margin-left: 0.5em; */
}
.about__list{
    font-size: var(--size-sm);
    color: var(--clr--slate600);
    /* margin-left: 0.5em; */
}

.about__list::before{
    content: ' ';
    margin-right: 0.25em;
    /* border-radius: 1px solid red; */
}
.about__subtitle{
    font-size: var(--size-xl);
    color: var(--clr-slate400);
    /* margin-left: 0.5rem; */
    
}

}
 /*xs*/
 @media (min-width:475px){
    
        
.about{
    
    gap: 1.5rem;
}
.about__content{

   gap: 1.5rem;

}   

.about__title{
    font-size:var(--size-3xl) ;
   
}

.about__description{
   
    font-size: var(--size-base); 

}


.about__subtitle{
    font-size: var(--size-base);
    /* display: none; */
    
}


.about__list{
    font-size: var(--size-base);
  
    /* margin-left: 0.5em; */ 
}
.about__img-wrapper{
    margin: 0 auto;
}
.about__img{
    width: 23.6875rem;
    /* margin: 0 auto; */
}
/* .about__img{
    width: 19.687rem;
    height: 32.687rem;
    position: absolute;
            top: -114px;  */
            /* left: 50px;  */
            /* width: 100%; */
           /* margin: 0  auto; */
            /* height: 34rem; */
            /* border: 2px solid red; */
           
/* } */


 } 



  /*sm*/
  @media (min-width:640px){

    .about__img-wrapper{
        margin:  auto auto;
         /* border: 3px solid red; */
    }

    .about__img{
         /* width: 38.687rem;
         height: 50.687rem; */
         width: 23.6875rem;
         
       
    }
   
   
    
    
  }

   /*md*/
 @media (min-width:768px){
  
 }
  /*lg*/
  @media (min-width:1024px){
    .about{
        /* display: flex; */
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
  
    
    .about__title{
        font-size:var(--size-4xl) ;
       
    }
    
    .about__description{
        
        font-size: var(--size-lg);
       
    
    }
    
    
    .about__subtitle{
        font-size: var(--size-lg);
        
      
    }
    
    
    .about__list{
        font-size: var(--size-lg);
      
        /* margin-left: 0.5em; */
    }

    .about__ul{
        display: flex;
        flex-direction: column;
        gap: 1em;
        list-style-type: '\2705';
        padding-left:1.5em;
        flex: 1;
        /* margin-left: 0.5em; */
    }
    .about__img-wrapper{
        margin: 0 auto;
    }
    .about__img{
        width: 23.6875rem;
        /* margin: 0 auto; */
    }
   
  }
   /*xl*/
 @media (min-width:1280px){
    
    .about__content{
        gap: 2rem;
    }
    .about{
        /* display: flex; */
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
  
   
    
    .about__title{
        font-size:var(--size-5xl) ;
       
    }
    
    .about__description{
        
        font-size: var(--size-xl);
       
    
    }
    
    
    .about__subtitle{
        font-size: var(--size-xl);
        
      
    }
    
    
    .about__list{
        font-size: var(--size-xl);
      
        /* margin-left: 0.5em; */
    }
    .about__img-wrapper{
        margin: 0 auto;
    }
    .about__img{
        width: 23.6875rem;
        /* margin: 0 auto; */
    }
   
  }
    
 
  /*2xl*/
  @media (min-width:1536px){
    .about__img-wrapper{
        margin: 0 auto;
    }
    .about__img{
        width: 23.6875rem;
        /* margin: 0 auto; */
    }
    
  }
